@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';


.header-top{
  background-color: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  &__inner{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 14px;
    line-height: 20px;
  }
  &__btn{
    display: none;
  }
}
.menu {
  &__list{
    display: flex;
  }
  &__list-item{
    transition: all .2s;
    border-bottom: 1px solid transparent;
    & + .menu__list-item{
      margin-left: 50px;
    }
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
}
.user-nav{
  display: flex;
  &__link{
    color: #fff;
    padding: 20px 30px;
    transition: all .3s;
    & + .user-nav__link{
      margin-left: 10px;
    }
    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
}
.logo {
  img {
    height: 24px;
  }
}
.header-content{
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 145px 20px 175px;
  height: 100vh;
  &__box{
    display: flex;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 7px;
    span{
      margin-right: 43px; 
    }
  }
  &__title{
    font-size: 64px;
    line-height: 63px;
    margin-bottom: 15px;
    max-width: 500px;
  }
  &__text{
    max-width: 430px;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 47px;
  }
  &__btn{
    padding: 17px 27px;
    color: #000;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: $accent;
      color: #fff
    }
  }
}
.tools{
  background-color: #F2F2F2;
  padding: 75px 20px;
  &__title{
    text-align: center;
    margin-bottom: 18px;
  }
  &__subtitle{
    text-align: center;
    max-width: 570px;
    margin: 0 auto 72px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 427px;
  }
  &__item + .tools__item{
    margin-left: 40px;
  }
  &__item-img{
    margin-bottom: 40px;
    height: 270px;
    max-width: 427px;
    width: 100%;
    object-fit: cover;
  }
  &__item-title{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  &__item-text{
    font-size: 18px;
  }
}
.video{
  padding: 120px 0;
  text-align: center;
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  &__title{
    max-width: 330px;
    margin: 0 auto 30px;
  }
  &__subtitle{
    margin: 0 auto 25px;
    max-width: 390px;
  }
  &__link{
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    transition: all .3s;
    &:hover{
      opacity: 50%;
    }
  }
}
.content{
  background-color: $accent;
  padding: 75px 20px 120px;
  color: #fff;
  &__title{
    max-width: 604px;
    margin: 0 auto 18px;
    text-align: center;
  }
  &__subtitle{
    max-width: 642px;
    margin: 0 auto 120px;
    text-align: center
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & + .content__item{
      margin-top: 120px;
    }
  }
  &__item-img{
    max-width: 570px;
    width: 100%;
  }
  &__item-box{
    &:nth-child(odd){
      margin-right: 50px;
    }
  }
  &__item-img{
    &:nth-child(odd){
      margin-right: 50px;
    }
  }
  &__item-title{
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 22px;
  }
  &__item-text{
    max-width: 520px;
  }
}
.content-add{
  padding: 0 40px;
  display: flex;
  align-items: center;
  &__img{
    height: 580px;
    margin-right: 160px;
    max-width: 660px;
    width: 100%;
  }
  &__title{
    max-width: 325px;
    margin-bottom: 22px;
  }
  &__text{
    max-width: 543px;
  }
}
.slider-yoga{
  padding: 80px 20px 110px;
  background-color: $accent;
  color: #fff;
  position: relative;
  &__inner{
    display: flex;
    justify-content: space-between; 
  }
  &__content{
    margin-right: 160px;
  }
  &__items{
    max-width: 580px;
    height: 412px; 
  }
  &__item-img{
    max-width: 580px;
    width: 100%;
  }
  .counter{
    position: absolute;
    bottom: 127px;
    right: 160px;
    font-size: 17px;
    letter-spacing: 1px;
  }
  .slick-next,
  .slick-prev{
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
  }
  .slick-next{
    right: 50px;
    bottom: 20px;
  }
  .slick-prev{
    right: 80px;
    bottom: 20px;
  }
}
.blockquote{
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 185px;
  max-width: 545px;
  &__author{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__link{
    opacity: 27%;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    transition: all .2s;
    &:hover{
      opacity: 100%;
    }
  }
}
.templates{
  padding: 80px 0;
  text-align: center;
  &__title{
    margin-bottom: 22px;
  }
  &__subtitle{
    max-width: 627px;
    margin: 0 auto 20px;
  }
  
}
.templates-slider{
  margin-top: 65px;
  position: relative;
  &__item{
    max-width: 400px; 
    text-align: left;
    margin-right: 40px;
  }
  &__item-text{
    text-transform: uppercase;
    font-size: 18px;
  }
  &__item-img{
    max-width: 400px;
    height: 250px;
    width: 100%;
  }
}
.start{
  padding: 80px 20px 50px;
  color: #fff;
  background-color: #000;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    max-width: 520px;
    margin-bottom: 30px;
    margin-right: 235px;
  }
  &__link{
    border-bottom: 1px solid #fff;
    &::after{
      background-image: url('../images/arrow-white.png');
      right: -22px;
      top: 2px;
    }
  }
  &__items{
    max-width: 583px;
    list-style-type: none;
  /* Убираем исходные маркеры */
    counter-reset: item;
  /* Обнуляем счетчик списка */
  }
  &__item{
    max-width: 580px;
    margin-bottom: 27px;
    position: relative;
    &:nth-child(-n+9)::before {
      content: '0' counter(item) '.';
      counter-increment: item;
      position: absolute;
      left: -42px;
    }
    &:nth-child(n+10)::before {
      content: counter(item) '.';
      counter-increment: item;
      position: absolute;
      left: -42px;
    /* Задаём имя счетчика */
    }
  }
}
.pricing-mobile{
  display: none;
}
.pricing{
  padding: 80px 20px;
  &__title{
    font-size: 40px;
    line-height: 41px;
    margin-bottom: 22px;
  }
  &__subtitle{
    max-width: 280px;
    margin-bottom: 50px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }
  &__label{
    font-size: 18px;
    color: #A1A1A1;
    cursor: pointer;
    span{
      color: #0888C8;
      font-size: 14px;
      margin-left: 8px;
    }
  }
  &__input:checked + .pricing__label{
      color: #000;
  }
  &__list{
    display: flex;
    justify-content: space-between;
  }
  ul.pricing__item{
    text-align: center;
    width: 75px;
    margin: 0 78px;
  }
  &__item-title{
    margin-bottom: 15px;
  }
  &__item-num{
    font-size: 32px;
    line-height: 37px;
    sup{
      font-size: 12px;
      margin-right: 3px;
    }
  }
  &__item-text,
  &__item-percent{
    font-size: 12px;
    line-height: 17px;
  }
  &__item-percent{
    color: #0888C8;
    max-width: 55px;
    margin: 5px auto 0;
  }
  &__content-title{
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
  }
  &__content-inner{
    display: flex;
    justify-content: flex-end;
  }
  &__content-list + .pricing__content-list{
    margin-left: 90px;
  }
  &__content-item{
    font-size: 18px;
    position: relative;
    line-height: 23px;
    & + .pricing__content-item{
      margin-top: 15px;
    }
    &::before{
      content: '';
      background-image: url('../images/check.svg');
      background-repeat: no-repeat;
      width: 16px;
      height: 11px;
      position: absolute;
      left: -27px;
      top: 7px;
    }
  }
} 
.pricing-table{
  margin-bottom: 40px;
  &__title{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    opacity: 50%;
  }
  ul.pricing-table__list{
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    padding: 11px 110px 11px 0;
    font-size: 14px;
    line-height: 20px;
  }
  &__feature{
    font-size: 18px;
    line-height: 23px;
    margin-right: auto;
  }
  &__num + .pricing-table__num{
    margin-left: 220px;
  }
  &__percent + .pricing-table__percent{
    margin-left: 210px;
  }
  &__check + .pricing-table__check{
    margin-left: 214px;
  }
}
.questions{
  padding: 75px 0;
  background-color: #000;
  color: #fff;
  &__title{
    max-width: 335px;
    font-size: 40px;
    line-height: 41px;
    margin: 0 auto 45px;
    text-align: center;
  }
  ul.questions__list{
    max-width: 890px;
    margin: 0 auto;
  }
  &__item{
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
    border-bottom: 1px solid #CACACA4D;
    border-top: 1px solid #CACACA4D;transition-delay: .5s;
    span{
      background-image: url('../images/plus.svg');
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: all .2s;
    }
  }
}
.questions__item--active{
  transition: all .2s;
  border-bottom: 1px solid transparent;
  span {
    transition: all .2s;
    transform: rotate(45deg);
  }
}
.questions__item-1p,
.questions__item-3p,
.questions__item-4p,
.questions__item-2p,
.questions__item-5p{
  padding: 5px 20px 20px;
  font-size: 18px;
  line-height: 23px;
  max-width: 670px;
  opacity: 80%;
  display: none;
}
.support{
  background-color: #000;
  color: #fff;
  padding: 75px 20px;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__title{
    max-width: 450px;
    margin-bottom: 22px;
  }
  &__img{
    max-width: 500px;
    width: 100%;
    margin-right: 140px;
  }
  &__link{
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    margin-top: 20px;
    transition: all .2s;
    &:hover{
      opacity: 50%;
    }
  }
}
.free-trial{
  padding: 80px 20px;
  background-color: #000;
  border-bottom: 1px solid #CACACA80;
  border-top: 1px solid #CACACA80;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    font-size: 35px;
    line-height: 36px;
    color: #fff;
    max-width: 712px;
  }
  &__btn{
    padding: 17px 27px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    background-color: #fff;
    transition: all .3s;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: $accent;
      color: #fff;
    }
  }
}
.footer{
  padding: 115px 20px;
  background-color: #000;
  color: #fff;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__logo-img{
    margin-bottom: 40px;
  }
  &__button{
    padding: 13px 13px;
    background-color: #1A1A1A;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    cursor: pointer;
    transition: all .2s;
    &:hover{
      background-color: hsl(0deg 0% 8%);
    }
  }
  &__button-text{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
  }
  &__button-img{
    height: 14px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
  }
  &__item{
    text-transform: uppercase;
  }
  &__item + .footer__item{
    margin-left: 70px;
  }
  &__item-title{
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 18px;
  }
  &__item-text{
    a{
      font-size: 12px;
      line-height: 11px;
    }
  }
}
.button-currency,
.button-lang{
  &__box{
    display: none;
    margin-bottom: 10px;
    margin-top: -12px;
  }
  &__text{
    max-width: 140px;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 13px;
    background-color: #1A1A1A;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: hsl(0deg 0% 8%);
    }
  }
}
.element-animation{
  opacity: 0;
  transform: translateY(100%);
}
.element-animation.element-show{
  transition: all 1s;
  opacity: 1;
  transform: translateY(0%);
}




@import 'media';