@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header-top{
  background-color: #000;
  &__inner{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 40px;
    font-size: 14px;
    line-height: 20px;
  }
}
.menu {
  &__list{
    display: flex;
  }
  &__list-item{
    transition: all .2s;
    border-bottom: 1px solid transparent;
    & + .menu__list-item{
      margin-left: 50px;
    }
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
}
.user-nav{
  display: flex;
  &__link{
    color: #fff;
    padding: 20px 30px;
    transition: all .3s;
    & + .user-nav__link{
      margin-left: 10px;
    }
    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
}
.logo {
  img {
    height: 24px;
  }
}
.header-content{
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 105px 40px 175px;
  height: calc(100vh - 84px);
  &__box{
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
    span{
      margin-right: 50px; 
    }
  }
  &__title{
    font-size: 72px;
    line-height: 77px;
    margin-bottom: 20px;
    max-width: 500px;
  }
  &__text{
    max-width: 500px;
    margin-bottom: 45px;
  }
  &__btn{
    padding: 20px 30px;
    color: #000;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: $accent;
      color: #fff
    }
  }
}
.tools{
  background-color: #F2F2F2;
  padding: 75px 40px;
  &__title{
    text-align: center;
    margin-bottom: 25px;
  }
  &__subtitle{
    text-align: center;
    max-width: 570px;
    margin: 0 auto 80px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 427px;
  }
  &__item-img{
    margin-bottom: 40px;
  }
  &__item-title{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 6px;
  }
  &__item-text{
    font-size: 18px;
  }
}
.video{
  padding: 140px 0;
  text-align: center;
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  &__title{
    max-width: 330px;
    margin: 0 auto 30px;
  }
  &__subtitle{
    margin: 0 auto 25px;
    max-width: 390px;
  }
  &__link{
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    transition: all .3s;
    &:hover{
      opacity: 50%;
    }
  }
}
.content{
  background-color: $accent;
  padding: 90px 40px 120px;
  color: #fff;
  &__title{
    max-width: 604px;
    margin: 0 auto 22px;
    text-align: center;
  }
  &__subtitle{
    max-width: 642px;
    margin: 0 auto 120px;
    text-align: center
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & + .content__item{
      margin-top: 120px;
    }
  }
  &__item-title{
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 22px;
  }
  &__item-text{
    max-width: 520px;
  }
}
.content-add{
  padding: 0 40px;
  display: flex;
  align-items: center;
  &__img{
    height: 675px;
    margin-right: 160px;
  }
  &__title{
    max-width: 325px;
    margin-bottom: 22px;
  }
  &__text{
    max-width: 543px;
  }
}
.slider-yoga{
  padding: 80px 40px;
  background-color: $accent;
  color: #fff;
  position: relative;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    margin-right: 160px;
  }
  &__items{
    max-width: 660px;
    height: 412px;
    position: relative;
  }
  .counter{
    position: absolute;
    bottom: 46px;
    right: 389px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .slick-next,
  .slick-prev{
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
  }
  .slick-next{
    right: 50px;
    bottom: -30px;
  }
  .slick-prev{
    right: 80px;
    bottom: -30px;
  }
}
.blockquote{
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 180px;
  max-width: 545px;
  &__author{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__link{
    opacity: 27%;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    transition: all .2s;
    &:hover{
      opacity: 100%;
    }
  }
}
.templates{
  padding: 80px 0;
  text-align: center;
  &__title{
    margin-bottom: 22px;
  }
  &__subtitle{
    max-width: 627px;
    margin: 0 auto 20px;
  }
  
}
.templates-slider{
  margin-top: 65px;
  position: relative;
  &__item{
    max-width: 545px;
    text-align: left;
    margin-right: 40px;
  }
  &__item-text{
    text-transform: uppercase;
    font-size: 18px;
  }
}
.start{
  padding: 80px 40px 53px;
  color: #fff;
  background-color: #000;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    max-width: 520px;
    margin-bottom: 30px;
  }
  &__link{
    border-bottom: 1px solid #fff;
    &::after{
      background-image: url('../images/arrow-white.png');
      right: -22px;
      top: 2px;
    }
  }
  &__items{
    list-style-type: none;
  /* Убираем исходные маркеры */
    counter-reset: item;
  /* Обнуляем счетчик списка */
  }
  &__item{
    max-width: 580px;
    margin-bottom: 27px;
    position: relative;
    &:nth-child(-n+9)::before {
      content: '0' counter(item) '.';
      counter-increment: item;
      position: absolute;
      left: -42px;
    }
    &:nth-child(n+10)::before {
      content: counter(item) '.';
      counter-increment: item;
      position: absolute;
      left: -42px;
    /* Задаём имя счетчика */
    }
  }
}
.pricing{
  padding: 80px 40px;
  &__title{
    margin-bottom: 22px;
  }
  &__subtitle{
    max-width: 280px;
    margin-bottom: 55px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__label{
    font-size: 18px;
    color: #A1A1A1;
    cursor: pointer;
    span{
      color: #0888C8;
      font-size: 14px;
      margin-left: 8px;
    }
  }
  &__input:checked + .pricing__label{
      color: #000;
  }
  &__list{
    display: flex;
    justify-content: space-between;
  }
  ul.pricing__item{
    text-align: center;
    width: 75px;
    margin: 0 78px;
  }
  &__item-title{
    margin-bottom: 15px;
  }
  &__item-num{
    font-size: 32px;
    line-height: 37px;
    sup{
      font-size: 12px;
      margin-right: 3px;
    }
  }
  &__item-text,
  &__item-percent{
    font-size: 12px;
    line-height: 17px;
  }
  &__item-percent{
    color: #0888C8;
    max-width: 55px;
    margin: 5px auto 0;
  }
  &__content-title{
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
  }
  &__content-inner{
    display: flex;
    justify-content: flex-end;
  }
  &__content-list + .pricing__content-list{
    margin-left: 90px;
  }
  &__content-item{
    font-size: 18px;
    position: relative;
    line-height: 23px;
    & + .pricing__content-item{
      margin-top: 15px;
    }
    &::before{
      content: '';
      background-image: url('../images/check.svg');
      background-repeat: no-repeat;
      width: 16px;
      height: 11px;
      position: absolute;
      left: -27px;
      top: 7px;
    }
  }
} 
.pricing-table{
  margin-bottom: 40px;
  &__title{
    text-transform: uppercase;
    font-size: 14px;
    opacity: 50%;
    margin-bottom: 13px;
  }
  ul.pricing-table__list{
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    padding: 12px 110px 12px 0;
    font-size: 14px;
    line-height: 20px;
  }
  &__feature{
    font-size: 18px;
    line-height: 23px;
    margin-right: auto;
  }
  &__num + .pricing-table__num{
    margin-left: 220px;
  }
  &__percent + .pricing-table__percent{
    margin-left: 210px;
  }
  &__check + .pricing-table__check{
    margin-left: 214px;
  }
}
.questions{
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  &__title{
    max-width: 335px;
    font-size: 40px;
    line-height: 45px;
    margin: 0 auto 45px;
    text-align: center;
  }
  ul.questions__list{
    max-width: 890px;
    margin: 0 auto;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    border-bottom: 1px solid #CACACA4D;
    border-top: 1px solid #CACACA4D;
    span{
      background-image: url('../images/plus.svg');
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
  &__item-p{
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
    width: 670px;
    opacity: 80%;
    display: none;
  }
}
.support{
  background-color: #000;
  color: #fff;
  padding: 80px 40px;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__title{
    margin-bottom: 22px;
  }
  &__img{
    margin-right: 160px;
  }
  &__link{
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    line-height: 23px;
    display: inline-block;
    margin-top: 20px;
    transition: all .2s;
    &:hover{
      opacity: 50%;
    }
  }
}
.free-trial{
  padding: 80px 40px;
  background-color: #000;
  border-bottom: 1px solid #CACACA80;
  border-top: 1px solid #CACACA80;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    max-width: 722px;
  }
  &__btn{
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    transition: all .3s;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: $accent;
      color: #fff;
    }
  }
}
.footer{
  padding: 115px 40px;
  background-color: #000;
  color: #fff;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__logo-img{
    margin-bottom: 40px;
  }
  &__button{
    padding: 17px 15px;
    background-color: #1A1A1A;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    cursor: pointer;
    transition: all .2s;
    &:hover{
      background-color: hsl(0deg 0% 8%);
    }
  }
  &__button-text{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
  }
  &__button-img{
    height: 14px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
  }
  &__item + .footer__item{
    margin-left: 65px;
  }
  &__item-title{
    margin-bottom: 25px;
  }
  &__item-text + .footer__item-text{
    margin-top: 9px;
  }
}
.button-currency{
  &__box{
    display: none;
    margin-bottom: 10px;
    margin-top: -12px;
  }
  &__text{
    padding: 10px 15px;
    font-size: 18px;
    line-height: 23px;
    background-color: #1A1A1A;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: hsl(0deg 0% 8%);
    }
  }
}



@import 'media';